---
import SinglePageLayout from '../layouts/BaseLayout.astro';
---

<SinglePageLayout pageTitle="About">
    <section class="about">
        <p class="lead">
            Site built with Astro, hosted on GitHub Pages, and designed by me.
        </p>
    </section>
</SinglePageLayout>